.wrapper{
    width: 100%;
    height: 100%;
}
.wrapper header{
    width: 100%;
    height: 12vw;
    background-color: #0097FF;
    display: flex;
    align-items: center; /*垂直居中*/
}
.wrapper header .icon-location-box{
    width: 3.5vw;
    height: 3.5vw;
    margin: 0 1vw 0 3vw;
}
.wrapper header .location-text{
    font-size: 4.5vw;
    font-weight: 700;
    color: #fff;
}
.wrapper header .location-text .fa-caret-down{
    margin-left: 1vw;
}